@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;800&display=swap');

:root {
  --primary-color: #20B2AA;
  --dark-color: #165F5B;
  --light-color: #ADDCDB;
  --white-color: #F3F3F3;
  --second-white: #E7E6E6;
  --black-color: #0C0C0C;
  --second-black: #373737;
  --secondary-color: #FFBF46;
  --thirdy-color: #F4442E;

  --title-font: 'Rubik', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--title-font);
  color: var(--black);
}

body {
  background-color: var(--white-color);
  font-size: 16px;
}

main { padding-bottom: 5rem; }

a {
  text-decoration: underline dotted var(--primary-color) 1px;
  color: var(--primary-color);
}

a:hover {
  color: var(--dark-color);
}

textarea, input, button {
  font-family: var(--title-font);
  color: var(--black-color);
}

/* HOME PAGE */

.home-main .flex { flex-wrap: wrap; }

.home-main button:disabled { 
  color: var(--light-color); 
  cursor: default;
  border: 0;
}

.trackers-card {
  background-color: var(--main-color-light);
  max-width: 350px;
  height: auto;
  max-height: 450px;
  align-items: stretch;
  margin: 10px 10px 50px 10px;
  padding-bottom: 25px;
}

.trackers-card img { 
  width: 100%; 
  height: 200px;
  object-fit: cover;
}

.description {
  height: 60%;
  padding: 0 5%;
  font-size: 0.9rem;
  align-self: stretch;
}

.description p { flex-grow: 1; }
.description button { padding: 5px 20px; }

/* HABIT TRACKER PAGE */

.habits-header .flex { justify-content: space-between; }

.habits-main .flex { 
  width: 100%;
  flex-wrap: wrap; 
}

.habit-box {
  max-width: 250px;
  padding: 1rem;
  margin: 1rem;
}

.habit-box .grid { grid-template-columns: repeat(7, 1fr); }

.habit-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  border-bottom: 1px solid var(--light-color);
}

.habit-head h3 {
  font-weight: 300;
  font-size: 1.25rem;
  padding: 0 0.25rem;
}

.habit-head button {
  color: var(--primary-color);
  padding: 0.5rem;
}

.habit-body { font-size: 0.8rem; }
.habit-body p { text-align: center; }

.habit-body input[type="checkbox"]:not(:checked),
.habit-body input[type="checkbox"]:checked {
  position: absolute;
  left: -9999%;
}

.habit-body input[type="checkbox"] + label {
  margin: 0.1rem;
  padding: 0.3rem;
  background-color: transparent;
  border: 1.5px solid var(--primary-color);
  border-radius: 100%;
  cursor: pointer;
  text-align: center;
  color: black;
}

.habit-body input[type="checkbox"]:checked + label {
  content: '';
  color: var(--primary-color);
  background-color: var(--primary-color);
}

.habit-body input[type="checkbox"]:disabled + label {
   border-color: transparent;
   color: var(--dark-color);
   cursor: not-allowed;
  }

  
/* POMODORO PAGE */

.pomodoro-main { height: 92vh; }
.pomodoro-main .container { overflow-x: hidden; }
.pomodoro-main .flex { gap: 1rem; }
.pomodoro-main .flex * { flex-direction: column; }
.pomodoro-main button:hover { color: var(--primary-color); }
.pomodoro-main h2 { text-align: center; }

.timer { padding: 4rem; }

.timer p { 
  display: block; 
  font-weight: bold;
}

.timer, .pomodoro-stats {
  background-color: var(--light-color);
  min-width: 30rem;
}

.pomodoro-stats { padding: 2rem; }
.pomodoro-stats div { margin: 0; padding: 0;}

.pomodoro-stats input {
  background-color: transparent;
  padding: 0.1rem;
  margin: 0.2rem 0.5rem;
  border: 0;
  outline: none;
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem;
}

.pomodoro-stats input:focus { background-color: var(--white-color); }

.pomodoro-footer .grid { 
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
}

.pomodoro-footer button:hover { color: var(--light-color); }
.pomodoro-footer .grid * { order: 0; }

/* YEAR PLANNER PAGE */

.yearplan-header .flex,
.yearplan-footer .flex { justify-content: space-between; }

.yearplan-main { margin-bottom: 100px; }
.yearplan-main .container { overflow: hidden; }

.yearplan-main .flex { 
  align-items: flex-start;
  flex-wrap: wrap; 
}

.yearplan-main section {
  margin: 0.5rem;
  width: 200px;
}

.yearplan-main h3 {
  width: 100%;
  background-color: var(--primary-color);
  padding: 0px 0.5rem;
  text-align: center;
}

.yearplan-main textarea { resize: none; }

.month-textarea {
  border: 1px solid var(--primary-color);
  border-collapse: collapse;
  background-color: transparent;
  outline: none;
  width: 100%;
  padding: 0.1rem;
}

.normal { height: 100px; }
.bigger { height: 175px; }

.month-days { 
  font-size: 0.75rem; 
}
.month-days div { 
  justify-content: space-around;
  margin: 0.25rem; }

.month-days input {
  width: 85%;
  border: 0px;
  border-bottom: 1px solid var(--light-color);
  outline: none;
  background-color: transparent;
  padding: 0.1rem;
}

.month-days input:focus { background-color: var(--light-color); }
.yearplan-footer .grid button { justify-self: end; }

/* RESPONSIVINESS */
@media (max-width: 1100px) {
  .pomodoro-main .flex { 
    flex-direction: column;
    max-width: 30rem;
  }

  .timer, .pomodoro-stats { min-height: 50vh; }
}


@media (max-width: 768px) {
  .habits-header .flex,
  .pomodoro-main .flex,
  .yearplan-header .flex,
  .yearplan-footer .flex { 
    flex-direction: column; 
    text-align: center;
  }

  .pomodoro-main .grid { grid-template-columns: 1fr;   }
  .pomodoro-footer .grid :nth-child(2) { order: 3; }
  .pomodoro-footer .grid :nth-child(3) { order: 2; }

  .pomodoro-footer .grid,
  .yearplan-footer .grid { grid-template-columns: 1fr; }

  .pomodoro-footer *,
  .pomodoro-footer button,
  .yearplan-footer .grid *, 
  .yearplan-footer .grid button { 
    justify-self: center;
    padding: 0;
    margin: 0.5rem;
  }

}