.container {
  max-width: 1500px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 1.5rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hidden {
  visibility: hidden;
  height: 0;
  width: 0;
}


/* BUTTONS */
button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  padding: 0.7rem 1.4rem;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--white-color)
}

.btn-outline {
  border: 1px var(--primary-color) solid;
}


/* HEADER */
header {
  background-color: var(--primary-color); 
  padding: 1rem;
 }

 header h1, 
 header h2 {
   font-weight: 800;
   color: var(--white-color);
 }
 
 /* FOOTER */
 footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: var(--primary-color);
  padding: 25px 2.5vw;
  font-size: 1rem;
  color: var(--second-black);
}

footer small {
  font-size: 0.8rem;
}

footer a {
  color: var(--light-color);
}

footer input {
  border-color: var(--dark-color);
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--dark-color);
}


/* TEXT */
.sm { font-size: 0.9rem; }
.md { font-size: 2rem; }
.lg { font-size: 3rem; }
.xl { font-size: 5rem; }

.bold { font-weight: bold; }
.italic { font-style: italic; }
.underl { text-decoration: underline; }

.justify { text-align: justify; }

.upper { text-transform: uppercase; }
.lower { text-transform: lowercase; }

/* MARGIN */
.my-1 { margin: 0.5rem 0; }
.my-2 { margin: 1rem 0; }
.my-3 { margin: 1.5rem 0; }
.my-4 { margin: 2rem 0; }

.m-1 { margin: 0.5rem; }
.m-2 { margin: 1rem; }
.m-3 { margin: 1.5rem; }
.m-4 { margin: 2rem; }

/* PADDING */
.py-1 { padding: 0.5rem 0; }
.py-2 { padding: 1rem 0; }
.py-3 { padding: 1.5rem 0; }
.py-4 { padding: 2rem 0; }

.p-1 { padding: 0.5rem; }
.p-2 { padding: 1rem; }
.p-3 { padding: 1.5rem; }
.p-4 { padding: 2rem; }

/* EFFECTS */

.scale1-1:hover{
  transform: scale(1.1);
}




/* TABLETS AND UNDER */
@media (max-width: 768px) {

}

/* MOBILE */
@media (max-width: 500px) {
  
}
