@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;800&display=swap');

:root {
  --main-color: #20B2AA;
  --main-color-dark: #165F5B;
  --main-color-light: #ADDCDB;
  --second-color: #FFBF46;
  --third-color: #F4442E;
  --white: #F3F3F3;
  --second-white: #E7E6E6;
  --third-white: #CDCDCD;
  --black: #0C0C0C;
  --second-black: #373737;

  --title-font: 'Rubik', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white);
  font-family: var(--title-font);
  color: var(--black);
}

.header {
 background-color: var(--main-color); 
 padding: 15px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.header h1, .header h2 {
  font-weight: 800;
  color: var(--white);
}

.header h1 {
  font-size: 36px;;
}

.main {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
}

.main h2 {
  padding-top: 20px;
  font-size: 30px;
}


a {
  text-decoration: underline dotted var(--main-color) 1px;
  color: var(--main-color);
}

a:hover {
  color: var(--main-color-dark);
}

textarea, input, button {
  font-family: var(--title-font);
  color: var(--black);
}

.inputTextLine {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--main-color);
  font-size: 16px;
}

input[type="number"] {
  padding: 2.5px 0px 2px 7.5px;
  border: none;
  outline: none;
  background-color: var(--second-white);
  border-radius: 15px;
}

button {
  background-color: var(--main-color);
  border: none;
  padding: 5px 10px;
  color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
}

button:hover {
  background-color: var(--main-color-dark);
  color: #fff;
  cursor: pointer;
}

button:active {
  color: var(--second-color);
}

button:disabled {
  color: var(--main-color);
  background-color: transparent;
  border: 1px solid var(--main-color);
  cursor: default;
}

.footer {
  bottom: 0;
  position: fixed;
  width: 95vw;
  background-color: var(--main-color);
  padding: 25px 2.5vw;
  font-size: 18px;
  color: var(--second-black);
}

.footer small {
  font-size: 12px;
}

.footer a {
  color: var(--main-color-light);
}

.footer input {
  border-color: var(--main-color-dark);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  /* display: none; */
  visibility: hidden;
  height: 0;
}

/*****************      START PAGE        *****************/
/*****************      START PAGE        *****************/
/*****************      START PAGE        *****************/

.startMain {
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 25px 25px 50px 0px;
}

.startCard {
  flex: 1 275px;
  max-width: 350px;
  height: auto;
  max-height: 450px;
  margin: 10px;
  background-color: var(--main-color-light);
  align-items: stretch;
  padding-bottom: 25px;
}

.startCard img {
  width: 100%;
  height: 40%;
  object-fit: cover;
}

.startContainer {
  display: flex;
  flex-direction: column;
  height: 60%;
  padding: 0% 5%;
  font-size: 14px;
  align-items: stretch;
}

.startContainer p {
  flex-grow: 1;
}

.startContainer a {
  align-self: center;
}

.startContainer button {
  padding: 5px 20px;
  font-family: var(--title-font);
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
}


/*****************      POMO TRACKER         *****************/
/*****************      POMO TRACKER         *****************/
/*****************      POMO TRACKER         *****************/

.timer {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  height: 350px;
  margin-top: 50px;
  padding: 50px; 
  background-color: var(--main-color-light);
  align-items: center;
  justify-content: space-evenly;
}

.timer h1 {
  font-size: 115px;
  ;
}

.timer h2 {
  font-size: 40px;
  ;
}

.stats {
  padding: 25px;
  text-align: justify;
}

.statsBtn {
  margin-left: 100px;
}

.timerInput {
  width: 50px;
}

/*****************      YEAR PLANNER         *****************/
/*****************      YEAR PLANNER         *****************/
/*****************      YEAR PLANNER         *****************/

.yearInMonths {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.yearInMonths article {
  margin: 10px 5px 5px 5px;
  width: 140px;
}

.yearInMonths h3 {
  background: var(--main-color);
  ;
  text-align: center;
  width: 100%;
  padding: 0px 3px;
}

.yearInMonths textarea { 
  resize: none;
}

.monthBox {
  border: 1px solid var(--main-color);
  border-collapse: collapse;
  background-color: transparent;
  outline: none;
  width: 100%;
}

.normal {
  height: 100px;
}

.bigger {
  height: 175px;
}

.monthSection {
  flex-direction: column;
  font-size: 12px;
}

.monthSection input {
  margin: 2.5px 0px 0px 2.5px;
  width: 115px;
}

@media (min-width: 1366px) {
  .yearInMonths article {
    width: 190px;
  }

  .monthSection input {
    width: 165px;
  }
}

@media (min-width: 768px) and (max-width: 1366px){
  .yearInMonths article {
    width: 260px;
  }

  .monthSection {
    font-size: 16px;
  }

  .monthSection input {
    width: 230px;
    padding: 5px 0;
    margin: 5px 0;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .yearInMonths article {
    width: 100vw;
    font-size: 36px;
  }

  .monthBox {
    height: 250px;
  }
  
  .monthSection {
    font-size: 36px;
  }

  .monthSection input {
    width: 90vw;
    padding: 1rem;
  }
}


/* responsivity */

@media (max-width: 768px) {
  .timer, .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .stats {
    justify-content: center;
    align-items: center;
  }
}


@media (max-width: 500px) {
  .timer, .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .stats {
    justify-content: center;
    align-items: center;
  }
}